.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
}

.loader {
  margin: 0 auto;
  /* margin-top: 100px;
   margin-bottom: 100px; */
  border: 16px solid #bdc3c7;
  width: 120px;
  height: 120px;
  border-top-color: #6c63ff;
  border-bottom-color: #6c63ff;
  border-radius: 50%;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes coloredspin {
  0% {
    transform: rotate(0deg) scale(1);
    border-top-color: #1abc9c;
    border-bottom-color: #1abc9c;
  }
  25% {
    border-top-color: #2ecc71;
    border-bottom-color: #2ecc71;
  }
  50% {
    transform: rotate(360deg) scale(1.05);
    border-top-color: #3498db;
    border-bottom-color: #3498db;
  }
  75% {
    border-top-color: #9b59b6;
    border-bottom-color: #9b59b6;
  }
  100% {
    transform: rotate(720deg) scale(1);
    border-top-color: #1abc9c;
    border-bottom-color: #1abc9c;
  }
}
